@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
}

@keyframes pulse-custom {
  0% {
    transform: scale(1);
    opacity: .75;
  }
  50% {
    transform: scale(2);
    opacity: .25;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-pulse-custom {
  animation: pulse-custom 2s ease-out infinite;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

@layer utilities {
  @keyframes popIn {
    0% {
      opacity: 0;
      margin-bottom: -20px;
    }
    100% {
      opacity: 1;
      margin-bottom: 0;
    }
  }

  .animate-pop {
    animation: popIn 0.3s cubic-bezier(0.42, 0, 0.26, 0.98) forwards;
  }
}


#svg-stage {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: #fff;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

text {
  fill: #ffffff;
  font-size: 15px;
  visibility: hidden;
}

.theLine {
  stroke: #ffffff;
}

